body{
    font-family:Georgia;
    color: #B6B6B4;
    background-color: #0C090A;
}
h1{
    font-size:1.3em;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}
tr{
    border: 1px Solid #ffffff;
    text-align: center;
    background-color: #0C090A;
}
th{
    text-align: center;
    color: #fff;
    background-color: #0C090A;
}
img{
    text-align: center;
    display: block;
}